
@{
	ViewBag.Title = "Results";
}

<div style="font-family:Segoe UI">
	<div class="badge">
		<h3>You want to help <a href="/Home">@ViewBag.SelectedCategoryName</a> by donating <a href="/Home/ChooseCategory">@ViewBag.ResourceType</a> <br /> </h3>
	</div>
</div
