@model GivingBack2.ViewModels.MappedRequirementViewModel

@{
	ViewBag.Title = "Results";
}

<div style="font-family:Segoe UI">
	<div class="badge">
		@using (Html.BeginForm("Index", "Home", FormMethod.Post))
		{		
			@Html.DisplayName("You have contributed your " + Model.SelectedResource + " <br /> for " + Model.SelectedCategoryName + "<br /> by selecting the Organization  <br />  Thanks !!");
		
		<input type="submit" value="Home" />
		}
	</div>
</div>
